<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" debug="false">
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-30(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{32} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ch.qos" level="ERROR"/>
    <logger name="salat" level="DEBUG"/>
    <logger name="com.mongodb" level="DEBUG"/>
    <logger name="com.mongodb.casbah" level="ERROR"/>

    <root level="ERROR">
        <appender-ref ref="stdout"/>
    </root>
</configuration>
